body {
  text-align: center;
  font-family: "Kanit";
}
.header {
  text-align: right;
  padding: 10px;
  font-size: 20px;
  background: #57002d;
  color: white;
}
select {
  background: #57002d;
  color: white;
  font-size: 16px;
  border: 0;
  outline: 0;
  display:inline-block;
  margin-right:20px;
}
img {
    display: block;
    margin: 0 auto;
  }
.box {
    height: 100 px;
    width: 200 px;
    padding: 30px;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: "Kanit";
}
.bio{
    background-color: #000000;   
}
.bio-box{
    font-size: 20px;
    margin: 5px;
}
.project{
    border-top: 10px solid #a90057;
    background-color: #000000;
}
.projects-box{
    color: rgb(255, 255, 255);
    margin: 5px;
    background-color: #a90057;
}
.projects-box:hover {
    opacity: 0.7;
}
footer {
  background-color: #57002d;
  color: white;
  text-align: center;
  font-family: "Kanit";
  font-size: 16px;
  padding: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: white;
  color: #57002d;
}

.fa-instagram {
  background: white;
  color: #57002d;
}

.fa-github {
  background: white;
  color: #57002d; 
}
.box404 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(67, 67, 67);
  text-align: center;
  font-family: "Kanit";
  font-size: 16px;
}
.coding{
    background-image: url("https://media3.giphy.com/media/242ByhXAbIptSMS9Ol/giphy.gif");
    background-size: cover;
}